* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.row>[class^='col--'] {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}